.room-list-window {
  width: 19.05%;
  height: 96.42%;
  margin-right: 2rem;
}

.room-list-nav {
  height: 3.58%;
}

.room-list {
  height: auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.room-slot {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  padding: 0.75rem;
  border-radius: var(--round);
}

.room-slot-txt {
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 0.25rem;
  font-size: var(--fs-xs);
  font-weight: 600;
  color: var(--main500);
  min-width: 0;
}
.room-slot-txt div {
  /* try with span */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.room-slot-txt :first-child {
  font-weight: 700;
  font-size: var(--fs-s);
  color: var(--offwhite100);
}

/* States & Variables */

.room-slot:hover {
  background-color: var(--main800);
  cursor: pointer;
}

.room-slot-selected {
  background-color: var(--main700);
}

.active-user {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--active);
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  z-index: 1;
}
