.room-window {
  width: 36.55%;
  height: 100%;
  background-color: var(--main800);
  margin-right: 3.25rem;
  border-radius: var(--round);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-list {
  padding: 0 2rem 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  overflow: auto;
  font-size: var(--fs-xs);
  font-weight: 300;
  line-height: 150%;
}

.message {
  display: flex;
  column-gap: 1rem;
  max-width: 100%;
}

.sent-message {
  flex-direction: row-reverse;
}

.received-message {
  flex-direction: row;
}

.message-text {
  /* display: inline-block; */
  padding: 0.875rem 1.25rem;
  letter-spacing: 0.04rem;
  box-shadow: var(--main-shadow);
  color: var(--white);
  border-radius: var(--round);
  max-width: 65%;
}

.sent-message > .message-text {
  background-color: var(--main700);
}

.received-message > .message-text {
  background-color: var(--main600);
}

.timestamp {
  font-size: 0.75rem;
  color: var(--offwhite50);
  align-self: center;
}

.datestamp {
  font-size: 0.75rem;
  color: var(--offwhite50);
}

/* Message Input */

.message-input {
  margin: 0.75rem 1.5rem;
  background-color: var(--main900);
  border-radius: var(--round);
}

.message-input input {
  padding: 0.875rem 1.25rem;
  min-width: 100%;
  background-color: transparent;
  border: none;
  color: var(--offwhite10);
  line-height: 150%;
}

.message-input input:focus {
  outline: none;
}

.message-input input::placeholder {
  color: var(--offwhite50);
}

/* Announcement */
.announcement {
  display: inline-block;
  align-self: center;
  padding: 1.5rem 0 0.875rem 0;
  letter-spacing: 0.04rem;
  color: var(--offwhite50);
  font-size: 0.75rem;
}

.sender-avatar {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: var(--round);
  object-fit: cover;
  box-shadow: var(--main-shadow);
}
